$fa-font-path: '~font-awesome/fonts';
$Avignon3: 'AvignonBook3';
$Avignon3Italic: 'AvignonItalic';

$color-main: #000;
$color-text-black: #111;
$color-text-white: #fff;
$color-text-grey: #bdbdbd;
$color-btn: #97c33a;
$color-link-active: #e21037;
